<!--****************************************************************************************************-->
<!--*****************************Foi retirado do principal*********************-->
<!--****************************************************************************************************-->
<div class="list-group">
<div class="alert alert-success alert-dismissible fade show d-none" id="success"  role="alert">
    <strong>O item foi alterado com sucesso!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show d-none" id="danger"  role="alert">
    <strong>Houve um problema na atualizacao do item!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show d-none" id="getError"  role="alert">
    <strong>Houve um problema para buscar o item!!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 30px; background-color: #88B73A; height: 60px; align-items: center; color: white; font-weight: bold; font-size: 20px;">DETALHES</div>
<div class="container-fluid">
    <div class="row">
        <div id="treeviewDiv" class="col-md-6">
            <% categorias.forEach(element=>{%>
                <%if(element.idCategoria !== 0){%>
                    <ul class="treeview"> 
                        <li class="cat">
                            <i class="far fa-list-alt fa-lg" style="margin-right:10px; color: #353535;"></i>
                            <a href="#" style="color: #353535">
                                <%=element.titulo%>
                            </a>
                        </li>
                        <%if(element.produtos.length){%>
                            <ul class="notativo">
                            <%element.produtos.forEach(prod=>{%>
                                    <li class="subcat">
                                        <i class="fab fa-product-hunt fa-lg" style="color: #353535; margin-right:10px;"></i>
                                        <a href="#" class="details" style="flex-grow: 1; color:#353535" data-type="prod" data-id=<%=prod.id%>>
                                            <%=prod.titulo%>
                                        </a>
                                        <a href="/admin/produto/<%=prod.id%>?method=delete" class="deleteItem" data-method="delete">
                                            <i class="far fa-times-circle fa-lg" style="color: #88B73A;"></i>
                                        </a>
                                        
                                    </li> 
                            <%})%>
                            </ul>
                        <%}%>                  
                <%}%>
                    <%categorias.forEach(hit=>{%>
                        <%if(hit.idCategoria === 0 && hit.idCategoriaPai === element.idCategoria){%>
                            <ul class="notativo">
                                <li class="subcat">
                                    <i class="far fa-list-alt fa-lg" style="margin-right:10px; color: #353535;"></i>
                                    <a href="#" class="details" style="color:#353535; flex-grow: 1;" data-type="sub" data-id=<%=hit.id%>><%=hit.titulo%></a>
                                    <a href="/admin/subcategoria/<%=hit.id%>?method=delete" class="deleteItem">
                                        <i class="far fa-times-circle fa-lg" style="color: #88B73A;"></i>
                                    </a>
                                    
                                </li>
                                <%if(hit.produtos.length){%>
                                    <ul class="notativo">
                                    <%hit.produtos.forEach(prod=>{%>
                                        <li id="prod">
                                            <i class="fab fa-product-hunt fa-lg" style="color: #353535; margin-right:10px;"></i>
                                            <a href="#" class="details" style="flex-grow: 1; color:#353535" data-type="prod" data-id=<%=prod.id%>><%=prod.titulo%></a>
                                            <a href="/admin/produto/<%=prod.id%>?method=delete" class="deleteItem" data-method="delete">
                                                <i class="far fa-times-circle fa-lg" style="color: #88B73A;"></i>
                                            </a>
                                            
                                        </li>
                                    <%})%>
                                    </ul>
                                <%}%>
                            </ul> 
                        <%}%>
                    <%})%>         
                    </ul>
            <%})%>
            
        </div>
        <div class="d-none col-md-6" id="searchResult">
            <h3>Subcategorias</h3>
            <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descricao</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody id="tableCategoria">
                  
                </tbody>
              </table>
              <h3>Produtos</h3>
            <table  class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descricao</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody id="tableProduto">
                  
                </tbody>
              </table>
        </div>
        <div class="col-md-6">
            <form action="/admin/produto" method="post">
                <div class="form-group">
                    <label for="prodTitulo">Titulo</label>
                    <input class="form-control" type="text" name="prodTitulo" id="indextitulo" required>
                </div>
                <div class="form-group">
                    <label for="prodDescricao">Descricao</label>
                    <textarea class="form-control" name="prodDescricao" id="indexdescricao" cols="30" rows="10" required></textarea>
                </div>
                <div id="divCategoriaPai" class="form-group">
                    <label for="categoria">Pertence a categoria</label>
                    <input class="form-control" type="text" name="categoria" id="indexcategoria" readonly>
                </div>
                <div id="divSubCategoria" class="form-group">
                    <label for="subCategoria">Pertence a subcategoria</label>
                    <div class="input-group mb-2">
                    <input class="form-control" type="text" name="subCategoria" id="indexsubCategoria" readonly>
                </div>
                <p id="demo" style="color:red; font-family:'Times New Roman', Times, serif;"></p>
                <div class="pt-2" style="margin-top:40px;">
                    <button class="btn btn-admin" id="atualizar" type="submit">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="bd-confirmation-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Confirma?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row justify-content-start">
                            <button type="button" class="btn btn-success" id="confirma"  data-dismiss="modal">Sim</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Nao</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
