<!--****************************************************************************************************-->
<!--*****************************Foi retirado do principal*********************-->
<!--****************************************************************************************************-->
<div class="list-group">
<div class="alert alert-dismissible fade show d-none mb-0" id="alert"  role="alert">
  <strong>
  <i class="far fa-times-circle close"></i>
</div>
<div style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 30px; background-color: #88B73A; height: 60px; align-items: center; color: white; font-weight: bold; font-size: 20px;">DETALHES</div>
<div class="container-fluid">
    <div class="row">
        <div id="treeviewDiv" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <%if(error){%>
              <span style="color: red; margin-left: 20px; padding-left: 20px;"><%=error%></span>
            <%}%>
            <% categorias.forEach(element=>{%>
                <%if(element.idCategoria !== 0){%>
                    <ul class="treeview"> 
                        <li class="cat">
                            <i class="far fa-list-alt fa-lg" style="margin-right:10px; color: #353535;"></i>
                            <a href="#" style="color: #353535; flex-grow: 1;">
                                <%=element.titulo%>
                            </a>
                            <%if(usuario.admin && usuario.role === "desenvolvedor"){%>
                                <a href="#" class="update-cat" data-toggle="modal" data-target="#categoria-sm" data-id=<%=element.id%>>
                                    <i class="fas fa-edit fa-lg" data-id=<%=element.id%>></i>
                                </a>
                                <a href="/admin/categoria/<%=element.id%>?method=delete" class="deleteItem" data-method="delete">
                                    <i class="far fa-times-circle fa-lg" style="color: #88B73A;"></i>
                                </a>
                            <%}%>
                        </li>
                        <%if(element.produtos.length){%>
                            <ul class="notativo">
                            <%element.produtos.forEach(prod=>{%>
                                    <li class="subcat">
                                        <i class="fab fa-product-hunt fa-lg" style="color: #353535; margin-right:10px;"></i>
                                        <a href="#" class="details" style="flex-grow: 1; color:#353535" data-type="prod" data-id=<%=prod.id%>>
                                            <%=prod.titulo%>
                                        </a>
                                        <a href="/admin/produto/<%=prod.id%>?method=delete" class="deleteItem" data-method="delete">
                                            <i class="far fa-times-circle fa-lg" style="color: #88B73A;"></i>
                                        </a>
                                        
                                    </li> 
                            <%})%>
                            </ul>
                        <%}%>                  
                <%}%>
                    <%categorias.forEach(hit=>{%>
                        <%if(hit.idCategoria === 0 && hit.idCategoriaPai === element.idCategoria){%>
                            <ul class="notativo">
                                <li class="subcat">
                                    <i class="far fa-list-alt fa-lg" style="margin-right:10px; color: #353535;"></i>
                                    <a href="#" class="details" style="color:#353535; flex-grow: 1;" data-type="sub" data-id=<%=hit.id%>><%=hit.titulo%></a>
                                    <a href="/admin/subcategoria/<%=hit.id%>?method=delete" class="deleteItem">
                                        <i class="far fa-times-circle fa-lg" style="color: #88B73A;"></i>
                                    </a>
                                    
                                </li>
                                <%if(hit.produtos.length){%>
                                    <ul class="notativo">
                                    <%hit.produtos.forEach(prod=>{%>
                                        <li id="prod">
                                            <i class="fab fa-product-hunt fa-lg" style="color: #353535; margin-right:10px;"></i>
                                            <a href="#" class="details" style="flex-grow: 1; color:#353535" data-type="prod" data-id=<%=prod.id%>><%=prod.titulo%></a>
                                            <a href="/admin/produto/<%=prod.id%>?method=delete" class="deleteItem" data-method="delete">
                                                <i class="far fa-times-circle fa-lg" style="color: #88B73A;"></i>
                                            </a>
                                            
                                        </li>
                                    <%})%>
                                    </ul>
                                <%}%>
                            </ul> 
                        <%}%>
                    <%})%>         
                    </ul>
            <%})%>
            
        </div>
        <div class="d-none col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" id="searchResult">
          <div class="d-none" id="divSubcategoria">  
          <h3>Subcategorias</h3>
            <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descricao</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody id="tableCategoria">
                  
                </tbody>
              </table>
            </div>
          </div>
          <div class="d-none" id="divProdutos">
              <h3>Produtos</h3>
              <div class="table-responsive">
            <table  class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descricao</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody id="tableProduto">
                  
                </tbody>
              </table>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="./public/img/eng-flag.png" alt="" style="width: 30px;" id="eua-flag">
            <img src="./public/img/spain-flag.png" alt="" style="width: 30px;" id="esp-flag">
            <img src="./public/img/brazil-flag.png" alt="" style="width: 30px;" id="pt-flag" class="active">
            <form action="/admin/produto" method="post">
                <div class="form-group pt">
                    <label for="prodTitulo">Titulo</label>
                    <input class="form-control" type="text" name="prodTitulo" id="indextitulo" required>
                </div>
                <div class="form-group d-none eua">
                    <label for="prodTituloEng">Titulo</label>
                    <input class="form-control" type="text" name="prodTituloEng" id="tituloEng" required>
                </div>
                <div class="form-group d-none esp">
                    <label for="prodTituloEsp">Titulo</label>
                    <input class="form-control" type="text" name="prodTituloEsp" id="tituloEsp" required>
                </div>
                <div class="form-group pt">
                    <label for="prodDescricao">Descricao</label>
                    <textarea class="form-control" name="prodDescricao" id="indexdescricao" cols="30" rows="10" required></textarea>
                </div>
                <div class="form-group d-none eua">
                    <label for="prodDescricaoEng">Descricao</label>
                    <textarea class="form-control" name="prodDescricaoEng" id="descricaoEng" cols="30" rows="10" required></textarea>
                </div>
                <div class="form-group d-none esp">
                    <label for="prodDescricaoEsp">Descricao</label>
                    <textarea class="form-control" name="prodDescricaoEsp" id="descricaoEsp" cols="30" rows="10" required></textarea>
                </div>
                <div id="divCategoriaPai" class="form-group">
                    <label for="categoria">Pertence a categoria</label>
                    <input class="form-control" type="text" name="categoria" id="indexcategoria" readonly>
                </div>
                <div id="divSubCategoria" class="form-group">
                    <label for="subCategoria">Pertence a subcategoria</label>
                    <div class="input-group mb-2">
                    <input class="form-control" type="text" name="subCategoria" id="indexsubCategoria" readonly>
                </div>
                <p id="demo" style="color:red; font-family:'Times New Roman', Times, serif;"></p>
                <div class="pt-2" style="margin-top:40px;">
                    <button class="btn btn-admin" id="atualizar" type="submit">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<!-- Confirmacao de delecao -->
<div class="modal fade" id="bd-confirmation-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirma?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row justify-content-start">
                                <button type="button" class="btn btn-success" id="confirma"  data-dismiss="modal">Sim</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row justify-content-end">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Nao</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para a categoria -->
<div class="modal fade" id="categoria-sm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="background-color: #f0f3f5;">
        <div class="modal-header" style="background-color:#88B73A;">
          <h5 class="modal-title" id="exampleModalLongTitle" style="color: white;"><strong>DETALHES CATEGORIA</strong><h5>
          <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times-circle" style="color: white; font-size: 1.5rem;"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/admin/categoria" method="post">
          <!-- cadastro de categoria -->
          <!-- Uma categoria nao pode ter o id proprio repetido dentro da tabela -->
            <div class="mt-1 p-1" id="categoria">
              <div>
                <span style="color: black;"><h5 class="mb-5">Categoria</h5></span>
                <div style="display: flex; justify-content: space-around; width: 25%;">
                  <img src="../../public/img/eng-flag.png" alt="" style="width: 30px;" id="eua-cat-flag">
                  <img src="../../public/img/spain-flag.png" alt="" style="width: 30px;" id="esp-cat-flag">
                  <img src="../../public/img/brazil-flag.png" alt="" style="width: 30px;" id="pt-cat-flag" class="active">
                </div>
              </div>
              <div class="form-group cat-pt mb-5">
                <input class="new-input" id="categoriaTitulo" placeholder="TITULO"  type="text" name="categoriaTitulo" required>
              </div>
              <div class="form-group d-none mb-5 cat-eua">
                <input class="new-input" id="categoriaTituloEng" placeholder="TITULO"  type="text" name="categoriaTituloEng" required>
              </div>
              <div class="form-group d-none mb-5 cat-esp">
                <input class="new-input" id="categoriaTituloEsp" placeholder="TITULO"  type="text" name="categoriaTituloEsp" required>
              </div>
              <div class="form-group cat-pt">
                <textarea class="new-input" id="categoriaDescricao" placeholder="DESCRICAO"  name="categoriaDescricao" rows="3" cols="30"></textarea>
              </div>
              <div class="form-group d-none cat-eua">
                <textarea class="new-input" id="categoriaDescricaoEng" placeholder="DESCRICAO"  name="categoriaDescricaoEng" rows="3" cols="30"></textarea>
              </div>
              <div class="form-group d-none cat-esp">
                <textarea class="new-input" id="categoriaDescricaoEsp" placeholder="DESCRICAO"  name="categoriaDescricaoEsp" rows="3" cols="30"></textarea>
              </div>
            </div>
            <p id="demo" style="color:red; font-family:'Times New Roman', Times, serif;"></p>
            <div class="pt-2">
              <button class="btn btn-admin" type="submit" id="updateCategoria">Alterar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
