<!--****************************************************************************************************-->
<!--*****************************Foi retirado do principal*********************-->
<!--****************************************************************************************************-->
<div class="list-group">
<div class="container-fluid" style="border: 1px solid black;">
    <div class="row">
        <div class="col-md-6">
            <% categorias.forEach(element=>{%>
                <%if(element.idCategoria !== 0){%>
                    <ul class="treeview"> 
                        <li class="cat"><i class="far fa-list-alt fa-lg" style="margin-right:10px;"></i><a href="#">
                            <%=element.titulo%>
                        </a></li>
                        <%if(element.produtos.length){%>
                            <%element.produtos.forEach(prod=>{%>
                                <ul class="notativo">
                                    <li class="subcat">
                                        <a href="#">
                                            <i class="fas fa-asterisk" style="color: orange;"></i>
                                            <%=prod.titulo%>
                                        </a>
                                        <a href="/admin/produto/<%=prod.id%>?method=delete" data-method="delete">
                                            <i class="fas fa-trash-alt" style="color: red;"></i>
                                        </a>
                                    </li>
                            <%})%>
                        <%}%>
                                </ul>
                <%}%>
                <%categorias.forEach(hit=>{%> 
                    <%if(hit.idCategoria === 0 && hit.idCategoriaPai === element.idCategoria){%>
                        <ul class="notativo">
                            <li class="subcat">
                                <a href="#"><%=hit.titulo%></a>
                                <a href="/admin/produto/<%=hit.id%>?method=delete">
                                    <i class="fas fa-trash-alt" style="color: red;"></i>
                                </a>
                            </li>
                            <%if(hit.produtos.length){%>
                                <%hit.produtos.forEach(prod=>{%>
                                <ul class="notativo">
                                    <li id="prod">
                                        <a href="#"><%=prod.titulo%></a>
                                        <a href="/admin/produto/<%=prod.id%>?method=delete" data-method="delete">
                                            <i class="fas fa-trash-alt" style="color: red;"></i>
                                        </a>
                                    </li>
                                <%})%>
                                </ul>
                            <%}%>
                    <%}%>
                <%})%> 
                        </ul>   
                    </ul>
                </ul>
            <%})%>
        </div>
        <div class="col-md-6">
            <h4>Detalhes dos itens selecionados</h4>
        </div>
    </div>
</div>
</div>
