<a href="<%- produto.href %>" class="card produto-card pt-4 pt-md-5">
    <img src="<%- produto.imageUrl %>" class="card-img-top" alt="<%- produto.title %>">
    <div class="card-body px-2 d-flex flex-column justify-content-center align-items-center">
        <div class="produto-card__title"><%- produto.title %></div>
    </div>
    <div class="produto-card__overlay">
        <div class="produto-card__overlay-content">
            <div class="produto-card__overlay-text"><%- produto.title %></div>
            <button class="btn--contrast">Saiba mais</button>
        </div>
    </div>
</a>
