<%- include('./header') %>
<%- include('./banner', {title: t.contato.aplinovaIsAlways, imageUrl: './public/img/secao_contato.jpg'})%>

<div class="base-container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="contato__container">
        <div class="contato__header">
          <i class="fas fa-square fas-sm mr-3"></i>
          <%- t.contato.letsChat %>
        </div>
        <div class="contato__content">
          <div class="contato__main-text py-3">
            <%- t.contato.fillOutThe %>
            <br><br>
            <%- t.home.orIfYou %>
            <a href="mailto:contato@aplinova.com.br"><b>contato@aplinova.com.br</b></a>
            <br><br>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-6 pt-2">
      <form>
        <div class="col-md-12 px-0">
          <div class="mb-5">
            <input class="input-form" type="text" name="nome" id="nome" placeholder="<%- t.contato.name %>" autofocus>
          </div>
          <div class="mb-5">
            <input class="input-form" type="text" name="email" id="email" placeholder="<%- t.contato.email %>" autofocus>
          </div>
          <div class="mb-5">
            <input class="input-form" type="text" name="telefone" id="telefone" placeholder="<%- t.contato.phone %>" autofocus>
          </div>
          <div class="mb-5">
            <input class="input-form" type="text" name="empresa" id="empresa" placeholder="<%- t.contato.company %>" autofocus>
          </div>
          <div class="mb-5">
            <textarea class="input-form" rows="5" cols="10" name="mensagem" id="mensagem" placeholder="<%- t.contato.message %>" autofocus></textarea>
          </div>
          <p id="demo"></p>
          <div class="mb-5">
            <button class="button-form" id="sendEmail"><%- t.contato.submit %></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="./public/javascript/portal/contato.js"></script>
<%- include('./footer') %>
