<div id="footer" class="footer row mx-0 w-100 base-container">
    <div class="col-md-4 px-0 mr-4">
        <div class="footer__header"><%- t.home.locations %></div>
        <div class="py-3 footer__subheader"><%- t.home.headquarters %></div>
        <div class="footer__text mb-4" style="width: 90%">
            <div>Rua Prof. Aprígio Gonzaga, 35 - Cj. 32</div>
            <div>04045-004, São Paulo - SP</div>
        </div>
    </div>
    <div class="col-md-3 d-none align-self-start px-0 mt-4" style="padding-top: 0.75rem;">
        <div class="py-3 footer__subheader"><%- t.home.manufacturingPlant %></div>
        <div class="footer__text">
            <div>Estrada Sartunino Pereira, 477</div>
            <div>08485-570, São Paulo - SP</div>
        </div>
    </div>
    <div class="col-md-3 ml-md-3 px-0" style="margin-bottom: 1rem;">
        <div class="footer__header" style="padding-bottom: 1.5rem;"><%- t.home.contact %></div>
        <div class="footer__text mb-4">
            <div>+55 11 2949-6644</div>
            <div>+55 11 96474-1323</div>
        </div>
        <a href="mailto:contato@aplinova.com.br" class="footer__subheader">contato@aplinova.com.br</a>
    </div>
    <div class="col-md-3 ml-auto py-3 px-0">
        <img src="./public/img/logo-light.svg" class="footer__logo" />
        <div class="footer__text pt-3"><%- t.home.allRightsReserved %></div>
        <div class="mt-2 footer_social-icons">
            <a href="https://www.facebook.com/Aplinova-102131328236799/?modal=admin_todo_tour" target="_blank" class="fab fa-facebook-f"></a>
            <a class="fab fa-linkedin-in"></a>
        </div>
    </div>
    </div>
</div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./public/javascript/portal/navbar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
