<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://kit.fontawesome.com/3bb5488a16.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/swiper@5.4.1/js/swiper.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./public/stylesheets/portal/index.css">
        <link rel="stylesheet" href="./public/stylesheets/portal/produto-view.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper@5.4.1/css/swiper.min.css">
        <title>Aplinova</title>
    </head>
    <body style="max-width: 100vw;">
        <div id="main" class="row p-0 mx-0" style="width: 100%">
            <div id="mainCol" class="col px-0 mx-0" style="width: 100%">
                <div class="base-container navbar navbar--initial-state mx-0">
                    <a href="/">
                        <img class="navbar__logo navbar__logo--light" src="./public/img/logo-light.svg" alt="Logo" />
                        <img class="navbar__logo navbar__logo--dark" src="./public/img/logo-dark.svg" alt="Logo" />
                    </a>
                    <div class="ml-auto navbar__items-initial">
                        <button id="langPt">PORTUGUES</button>
                        <button id="langEn">INGLES</button>
                        <button id="langEs">ESPANHOL</button>
                        <div class="navbar__initial-item">+55 (11) 96474-1323</div>
                        <a class="navbar__initial-item" href="https://web.whatsapp.com/send?phone=5511964741323" target="_blank">
                            <i class="fab fa-whatsapp"></i>
                            +55 (11) 96474-1323
                        </a>
                        <i class="pl-5 navbar__item navbar__icon navbar__menu-icon fas fa-bars fa-2x"></i>
                    </div>
                    <div class="ml-auto navbar__items-active">
                        <div class="navbar__item navbar__item--products">
                          <div class="navbar__products-dropdown-container">
                            <div class="navbar__products-dropdown">
                              <a class="navbar__products-dropdown-item" href="/aromas"><%- t.home.flavors %></a>
                              <a class="navbar__products-dropdown-item" href="/corantes"><%- t.home.colors %></a>
                              <a class="navbar__products-dropdown-item" href="/proteinas"><%- t.home.proteins %></a>
                              <a class="navbar__products-dropdown-item" href="/subacucar"><%- t.home.sugarSubstitutesAnd %></a>
                              <a class="navbar__products-dropdown-item" href="/prodnaturais"><%- t.home.naturalIngredients %></a>
                              <a class="navbar__products-dropdown-item" href="/prodveganos"><%- t.home.veganAndOrganic %></a>
                              <a class="navbar__products-dropdown-item" href="/ingredientesfuncionais"><%- t.home.functionalIngredients %></a>
                              <a class="navbar__products-dropdown-item" href="/revconfeitaria"><%- t.home.confectioneryCoatings %></a>
                              <a class="navbar__products-dropdown-item text-lowercase" href="/foodservice"><%- t.home.foodService %></a>
                            </div>
                          </div>
                          <a class="navbar__link"><%- t.home.products %></a>
                        </div>
                        <a class="navbar__item navbar__link text-lowercase" href="/nossaempresa"><%- t.home.company %></a>
                        <a class="navbar__item navbar__link text-lowercase" href="/#parceiros"><%- t.home.partners %></a>
                        <a class="navbar__item navbar__link text-lowercase" href="/contato"><%- t.home.contact %></a>
                        <div class="navbar__item navbar__icon navbar__close-icon fas fa-times fa-2x"></div>
                    </div>
                    <i class="ml-auto d-md-none navbar__item navbar__icon navbar__menu-icon fas fa-bars fa-2x"></i>
                    <div class="ml-auto d-md-none navbar__item navbar__icon navbar__close-icon fas fa-times fa-2x"></div>
                    <div class="col p-0 pt-5 d-md-none navbar__items-mobile">
                        <div class="navbar__item navbar__item--products-mobile">
                            <a class="navbar__link text-lowercase"><%- t.home.products %></a>
                            <img class="navbar__products-icon" src="./public/img/icon-produtos.svg" alt="Item" />
                        </div>
                        <div class="navbar__products-dropdown-mobile-container">
                            <div class="navbar__products-dropdown-mobile">
                                <a class="navbar__products-dropdown-item" href="/aromas"><%- t.home.flavors %></a>
                                <a class="navbar__products-dropdown-item" href="/corantes"><%- t.home.colors %></a>
                                <a class="navbar__products-dropdown-item" href="/proteinas"><%- t.home.proteins %></a>
                                <a class="navbar__products-dropdown-item" href="/subacucar"><%- t.home.sugarSubstitutesAnd %></a>
                                <a class="navbar__products-dropdown-item" href="/prodnaturais"><%- t.home.naturalIngredients %></a>
                                <a class="navbar__products-dropdown-item" href="/prodveganos"><%- t.home.veganAndOrganic %></a>
                                <a class="navbar__products-dropdown-item" href="/ingredientesfuncionais"><%- t.home.functionalIngredients %></a>
                                <a class="navbar__products-dropdown-item" href="/revconfeitaria"><%- t.home.confectioneryCoatings %></a>
                                <a class="navbar__products-dropdown-item text-lowercase" href="/foodservice"><%- t.home.foodService %></a>
                            </div>
                        </div>
                        <a class="navbar__item navbar__link" href="/nossaempresa"><%- t.home.company %></a>
                        <a class="navbar__item navbar__link" href="/#parceiros"><%- t.home.partners %></a>
                        <a class="navbar__item navbar__link" href="/contato"><%- t.home.contact %></a>
                        <div class="row mx-1 mt-5 mb-4 justify-content-between">
                            <div class="navbar__mobile-lang-btn navbar__mobile-lang-btn--active">POR</div>
                            <div class="navbar__mobile-lang-btn">ESP</div>
                            <div class="navbar__mobile-lang-btn">ENG</div>
                        </div>
                    </div>
                </div>
