<div class="home-company row mt-5 mx-0 w-100">
    <div class="col-12 col-lg-6 home-company__content">
        <div class="home-company__header">
            <i class="fas fa-square fas-sm mr-3"></i>
            <%- t.home.ourCompany %>
        </div>
        <div class="home-company__text my-4">
            <p>
                <%- t.home.foundedIn1987 %>
            </p>
            <p>
                <%- t.home.aLongEstablished %>
            </p>
            <p>
                <%- t.home.ourTeamIs %>
            </p>
        </div>
        <a href="/nossaempresa" class="btn--expand">
                <span class="btn--expand__circle">
                  <span class="icon arrow"></span>
                </span>
            <span class="btn--expand__text"><%- t.home.learnMore %></span>
        </a>
    </div>
    <img src="./public/img/home-nossa-empresa.jpg" class="d-none d-lg-block col-md-6 p-0" />
</div>
