<%- include('./header') %>
<%- include('./carrousel') %>
<%- include('./home-introduction') %>
<div class="row base-container">
    <% produtos.forEach((produto) => { %>
        <div class="col-sm-12 col-md-4"><%- include('./card', {produto}) %></div>
    <% }); %>
</div>
<%- include('./home-company') %>
<%- include('./home-partners') %>
<%- include('./footer') %>
