<%- include('./header') %>
<%- include('./carrousel') %>
<div class="introduction__header">
    <hr>
    <div class="introduction__header-content mx-auto">
        <%- t.home.apliquimicaIsNow %>
        <span class="d-none d-md-inline-block"><%- t.home.aNewConcept %></span>
    </div>
</div>
<%- include('./home-introduction') %>
<div class="row base-container">
    <% produtos.forEach((produto) => { %>
        <div class="col-sm-12 col-md-6 col-lg-4"><%- include('./card', {produto}) %></div>
    <% }); %>
</div>
<%- include('./home-company') %>
<%- include('./home-partners') %>
<%- include('./footer') %>
