<%- include('./header') %>
<%- include('./banner', {title: t.nossaempresa.aTrajectoryBuilt, imageUrl: './public/img/empresa_banner.jpg'})%>

<div class="base-container mt-3 mt-md-5">
  <div class="row mb-5 py-3">
    <div class="col-lg-6">
      <div class="empresa__container">
        <div class="empresa__header">
          <i class="fas fa-square fas-sm mr-3"></i>
          <%- t.home.ourCompany %>
        </div>
        <div class="empresa__content">
          <div class="empresa__main-text pr-xl-3 pt-4">
            <%- t.home.foundedIn1987 %>
            <br><br>
            <%- t.home.aLongEstablished %>
            <br><br>
            <%- t.home.ourTeamIs %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 px-0" style="background: no-repeat center/100% url('./public/img/nossa-empresa.jpg')">
    </div>
    <img class="mx-auto mt-5 d-none d-md-block d-lg-none" src="./public/img/nossa-empresa.jpg" alt="" style="object-fit: contain; max-width: 500px" />
  </div>
</div>
<div class="empresa__subheader"><%- t.nossaempresa.aplinovaStrivesFor %></div>
<div class="empresa-estrutura d-flex flex-wrap flex-row-reverse mt-5 mx-0 w-100">
  <div class="col-12 col-lg-6 empresa-estrutura__content base-padding-right">
    <div class="empresa-estrutura__header">
      <i class="fas fa-square fas-sm mr-3"></i>
      <b><%- t.nossaempresa.facilities %></b>
    </div>
    <div class="empresa-estrutura__text mt-4">
      <%- t.nossaempresa.aplinovasFacilitiesInclude %>
      <br><br>
      <%- t.nossaempresa.inAdditionTo %>
      <br><br>
      <%- t.nossaempresa.ourManufactoringUnit %>
    </div>
  </div>
  <img src="./public/img/estrutura.jpg" class="d-none d-md-block col-md-12 col-lg-6 p-0" style="object-fit: cover;" />
</div>

<div class="justify-content-center mt-4 my-md-5 text-capitalize empresa__header" style="margin-bottom: -0.75rem !important;">
  <i class="fas fa-square fas-sm mr-3"></i>
  <%- t.ourHistory.title %>
</div>
<div class="base-container my-3 my-md-5 timeline">
  <div class="timeline__container timeline__container--left">
    <div class="timeline__item timeline__item--first">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">1987</div>
        <div class="timeline__item-body">
          <b><%- t.ourHistory.timeline.year1987.title %></b><br/>
          <%- t.ourHistory.timeline.year1987.body %>
          <img src="./public/img/timeline_1.jpg" />
        </div>
      </div>
    </div>
    <div class="timeline__item">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">2000</div>
        <div class="timeline__item-body">
          <b><%- t.ourHistory.timeline.year2000.title %></b><br/>
          <%- t.ourHistory.timeline.year2000.body %>
        </div>
      </div>
    </div>
    <div class="timeline__item">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">2009</div>
        <div class="timeline__item-body">
          <b><%- t.ourHistory.timeline.year2009.title %></b><br/>
          <%- t.ourHistory.timeline.year2009.body %>
        </div>
      </div>
    </div>
    <div class="timeline__item">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">2018</div>
        <div class="timeline__item-body">
          <b><%- t.ourHistory.timeline.year2018.title %></b><br/>
          <%- t.ourHistory.timeline.year2018.body %>
          <img src="public/img/timeline_3.jpg" />
        </div>
      </div>
    </div>
    <div class="timeline__item ml-auto mb-0">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">2020</div>
        <div class="timeline__item-body">
          <b><%- t.ourHistory.timeline.year2020.title %></b><br/>
          <%- t.ourHistory.timeline.year2020.body %>
        </div>
      </div>
    </div>
  </div>
  <hr class="timeline__divider" />
  <div class="timeline__container">
    <div class="timeline__item timeline__item--first d-md-none">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">1987</div>
        <div class="timeline__item-body">
          <b><%- t.ourHistory.timeline.year1987.title %></b><br/>
          <%- t.ourHistory.timeline.year1987.body %>
          <img src="./public/img/timeline_1.jpg" />
        </div>
      </div>
    </div>
    <div class="timeline__item">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">1990</div>
        <div class="timeline__item-body">
          <b><%- t.ourHistory.timeline.year1990.title %></b><br/>
          <%- t.ourHistory.timeline.year1990.body %>
        </div>
      </div>
    </div>
    <div class="timeline__item">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">1995</div>
        <div class="timeline__item-body">
          <b><%- t.ourHistory.timeline.year1995.title %></b><br/>
          <%- t.ourHistory.timeline.year1995.body %>
          <img src="public/img/timeline_2.jpg" />
        </div>
      </div>
    </div>
    <div class="timeline__item d-md-none">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">2000</div>
        <div class="timeline__item-body">
          <b><%- t.ourHistory.timeline.year2000.title %></b><br/>
          <%- t.ourHistory.timeline.year2000.body %>
        </div>
      </div>
    </div>
    <div class="timeline__item d-md-none">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">2009</div>
        <div class="timeline__item-body">
          <b><%- t.ourHistory.timeline.year2009.title %></b><br/>
          <%- t.ourHistory.timeline.year2009.body %>
        </div>
      </div>
    </div>
    <div class="timeline__item">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">2017</div>
        <div class="timeline__item-body">
          <b><%- t.ourHistory.timeline.year2017.title %></b><br/>
          <%- t.ourHistory.timeline.year2017.body %>
        </div>
      </div>
    </div>
    <div class="timeline__item d-md-none">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">2018</div>
        <div class="timeline__item-body">
          <b><%- t.ourHistory.timeline.year2018.title %></b><br/>
          <%- t.ourHistory.timeline.year2018.body %>
          <img src="public/img/timeline_3.jpg" />
        </div>
      </div>
    </div>
    <div class="timeline__item">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">2019</div>
        <div class="timeline__item-body">
          <b><%- t.ourHistory.timeline.year2019b.title %></b><br/>
          <%- t.ourHistory.timeline.year2019b.body %>
        </div>
      </div>
    </div>
    <div class="timeline__item">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">2019</div>
        <div class="timeline__item-body">
          <b><%- t.ourHistory.timeline.year2019a.title %></b><br/>
          <%- t.ourHistory.timeline.year2019a.body %>
        </div>
      </div>
    </div>
    <div class="timeline__item mr-auto d-md-none">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">2020</div>
        <div class="timeline__item-body">
          <b><%- t.ourHistory.timeline.year2020.title %></b><br/>
          <%- t.ourHistory.timeline.year2020.body %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./footer') %>
