<%- include('./header') %>
<%- include('./banner', {title: t.nossaempresa.aTrajectoryBuilt, imageUrl: './public/img/empresa_banner.jpg'})%>

<div class="base-container mt-5">
  <div class="row mb-5 py-3">
    <div class="col-md-6">
      <div class="empresa__container">
        <div class="empresa__header">
          <i class="fas fa-square fas-sm mr-3"></i>
          <%- t.home.ourCompany %>
        </div>
        <div class="empresa__content">
          <div class="empresa__main-text pt-4">
            <%- t.home.foundedIn1987 %>
            <br><br>
            <%- t.home.aLongEstablished %>
            <br><br>
            <%- t.home.ourTeamIs %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 px-0" style="background: no-repeat center/100% url('./public/img/nossa-empresa.jpg')">
    </div>
  </div>
</div>
<div class="empresa-estrutura d-flex flex-row-reverse mt-5 mx-0 w-100">
  <div class="col-12 col-md-6 empresa-estrutura__content base-padding-right">
    <div class="empresa-estrutura__header">
      <i class="fas fa-square fas-sm mr-3"></i>
      <b><%- t.nossaempresa.facilities %></b>
    </div>
    <div class="empresa-estrutura__text mt-4">
      <%- t.nossaempresa.aplinovasFacilitiesInclude %>
      <br><br>
      <%- t.nossaempresa.inAdditionTo %>
      <br><br>
      <%- t.nossaempresa.ourManufactoringUnit %>
    </div>
  </div>
  <img src="./public/img/estrutura.jpg" class="d-none d-md-block col-md-6 p-0" style="object-fit: cover;" />
</div>

<!--<div class="base-container mt-5 empresa-timeline">-->
<!--  <div class="empresa-timeline__item empresa-timeline__item&#45;&#45;left" style="padding: 0">-->
<!--    <div class="empresa-timeline__marker" style="margin-top: -1.125rem">-->
<!--      <hr />-->
<!--      <img src="./public/img/Bolota_timeline.svg" alt="" />-->
<!--    </div>-->
<!--    <div class="empresa-timeline__item-content" style="margin-top: -1.125rem">-->
<!--      <div class="empresa-timeline__item-header">1987</div>-->
<!--      <div class="empresa-timeline__item-body">-->
<!--        Fundação Apliquimica ahfhsadf dnfneafdsafh hadfh adsfh dsa-->
<!--        <img src="./public/img/timeline_1.jpg" />-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="empresa-timeline__item" style="margin-top: -17.5rem">-->
<!--    <div class="empresa-timeline__marker">-->
<!--      <hr />-->
<!--      <img src="./public/img/Bolota_timeline.svg" alt="" />-->
<!--    </div>-->
<!--    <div class="empresa-timeline__item-content">-->
<!--      <div class="empresa-timeline__item-header">1990</div>-->
<!--      <div class="empresa-timeline__item-body">Fundação Apliquimica ahfhsadf dnfneafdsafh hadfh adsfh dsa</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="empresa-timeline__item">-->
<!--    <div class="empresa-timeline__marker">-->
<!--      <hr />-->
<!--      <img src="./public/img/Bolota_timeline.svg" alt="" />-->
<!--    </div>-->
<!--    <div class="empresa-timeline__item-content">-->
<!--      <div class="empresa-timeline__item-header">1995</div>-->
<!--      <div class="empresa-timeline__item-body">-->
<!--        asd asdahs duash dsaud sahfhds hfdsha hsd-->
<!--        <img src="./public/img/timeline_2.jpg" />-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="empresa-timeline__item empresa-timeline__item&#45;&#45;left" style="margin-top: -12rem">-->
<!--    <div class="empresa-timeline__marker">-->
<!--      <hr />-->
<!--      <img src="./public/img/Bolota_timeline.svg" alt="" />-->
<!--    </div>-->
<!--    <div class="empresa-timeline__item-content">-->
<!--      <div class="empresa-timeline__item-header">1987</div>-->
<!--      <div class="empresa-timeline__item-body">-->
<!--        Fundação Apliquimica ahfhsadf dnfneafdsafh hadfh adsfh dsa-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="empresa-timeline__item empresa-timeline__item&#45;&#45;left">-->
<!--    <div class="empresa-timeline__marker">-->
<!--      <hr />-->
<!--      <img src="./public/img/Bolota_timeline.svg" alt="" />-->
<!--    </div>-->
<!--    <div class="empresa-timeline__item-content">-->
<!--      <div class="empresa-timeline__item-header">1987</div>-->
<!--      <div class="empresa-timeline__item-body">-->
<!--        Fundação Apliquimica ahfhsadf dnfneafdsafh hadfh adsfh dsa-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="base-container mt-5 timeline">
  <div class="timeline__container timeline__container--left">
    <div class="timeline__item timeline__item--first">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">1987</div>
        <div class="timeline__item-body">
          <strong></strong>
          Fundação Apliquimica ahfhsadf dnfneafdsafh hadfh adsfh dsa
          <img src="./public/img/timeline_1.jpg" />
        </div>
      </div>
    </div>
    <div class="timeline__item timeline__item">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">1987</div>
        <div class="timeline__item-body">
          Fundação Apliquimica ahfhsadf dnfneafdsafh hadfh adsfh dsa
        </div>
      </div>
    </div>
    <div class="timeline__item timeline__item">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">1987</div>
        <div class="timeline__item-body">
          Fundação Apliquimica ahfhsadf dnfneafdsafh hadfh adsfh dsa
        </div>
      </div>
    </div>
    <div class="timeline__item timeline__item" style="margin-bottom: 0">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">1987</div>
        <div class="timeline__item-body">
          Fundação Apliquimica ahfhsadf dnfneafdsafh hadfh adsfh dsa
          <img src="./public/img/timeline_2.jpg" />
        </div>
      </div>
    </div>
  </div>
  <hr class="timeline__divider" />
  <div class="timeline__container">
    <div class="timeline__item">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">1987</div>
        <div class="timeline__item-body">
          Fundação Apliquimica ahfhsadf dnfneafdsafh hadfh adsfh dsa
        </div>
      </div>
    </div>
    <div class="timeline__item">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">1987</div>
        <div class="timeline__item-body">
          Fundação Apliquimica ahfhsadf dnfneafdsafh hadfh adsfh dsa
          <img src="./public/img/timeline_2.jpg" />
        </div>
      </div>
    </div>
    <div class="timeline__item timeline__item">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">1987</div>
        <div class="timeline__item-body">
          Fundação Apliquimica ahfhsadf dnfneafdsafh hadfh adsfh dsa
        </div>
      </div>
    </div>
    <div class="timeline__item timeline__item">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">1987</div>
        <div class="timeline__item-body">
          Fundação Apliquimica ahfhsadf dnfneafdsafh hadfh adsfh dsa
        </div>
      </div>
    </div>
    <div class="timeline__item timeline__item">
      <div class="timeline__marker">
        <hr />
        <img src="./public/img/Bolota_timeline.svg" alt="" />
      </div>
      <div class="timeline__item-content">
        <div class="timeline__item-header">1987</div>
        <div class="timeline__item-body">
          Fundação Apliquimica ahfhsadf dnfneafdsafh hadfh adsfh dsa
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./footer') %>
